<%- include('partials/header') %>

<!-- New Chatroom Modal -->
<div class="modal fade" id="new-chatroom-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center font-weight-bold">New Group Chat</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/messenger/new" method="post">
                    <div class="form-group px-3 py-4">
                        <label for="chatRoomName" class="font-weight-bold">Chat Name</label>
                        <input type="text" class="form-control" id="chatRoomName" name="name" aria-describedby="emailHelp" placeholder="Chatroom Name">
                        <small id="chatRoomNameHelp" class="form-text text-muted">You will be automatically associated with this chatroom.</small>
                    </div>
                    <div class="form-group px-3">
                        <label for="chatRoomParticipants" class="font-weight-bold">Participants</label>
                        <input type="text" name="participants" id="chatRoomParticipants" value="" placeholder="Participants" autofocus>
                        <small id="chatRoomParticipantsHelp" class="form-text text-muted">Wait for suggestions...</small>
                        <button type="submit" class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-4 text-muted2 border">
                            Submit Chat Group
                        </button> 
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex h-100 flex-column mt-5 pt-5">
    <div class="row full-height">
        <div class="col-sm-3 px-4 d-none d-sm-block position-fixed">
            <div class="row">
                <div class="col">
                    <h1 class="font-weight-bold">Chats</h1> 
                </div>
                <div class="col py-3 border-right">
                    <i class="btn btn-danger btn-sm rounded-circle delete-post float-md-right mr-1" id="new-chat">
                        <span class="fas fa-plus-circle" style="color:#fff" aria-hidden="true"></span>
                    </i>
                </div>
            </div>
            <div class="chat-sidebar-container">
                <ul class="list-group">
                    <% data.forEach(message => { %>
                        <li class="list-group-item open-conversation" id="<%= message._id %>">
                            <%= message.name%>
                        </li>
                    <% }); %>
                </ul>
            </div>

        </div>
        <div class="offset-3 col-sm-9">
            <div id="chat-box-container">
                <div id="no-chat-selected">
                    <h2 class="text-center font-weight-bold">Messages</h2>
                    <br>
                    <p class="text-center">To view a Message, select a Chat from the left sidebar</p>
                </div>

                <div id="chat-selected">
                    <!-- Nome do Chat -->
                    <h2 class="text-center" id="chatName"></h2>
                    <div id="loginUser" data-value="<%= loginUser %>"></div>
                    <div class="col-sm bg-light" style="background-color: #fff;">
                        <h2 style="z-index: 10; padding-top: 50px; padding-bottom: 10px; margin-top: -50px; margin-left: -20px; width: 100%; background-color: #fff;" class="font-weight-bold position-fixed border-bottom" id="chatName">Chats</h2> 
                    </div>
                    <ul class="list-group pt-5 pb-5 mb-3" id="messages-wrapper"></ul>
                    <form class="footerChat pb-3 col offset-3 col-sm-9 position-fixed">
                        <div class="row">
                            <div class="col-sm-10 pt-3">
                                <input class="form-control borderChat" type="text" placeholder="Write your Message..." name="text" id="message-body-form">
                                <input type="hidden" name="chatId" value="">
                            </div>
                            <div class="col-sm-2 pr-4 mt-3">
                                <span class="btn btn-danger btn-sm rounded-circle edit-post float-sm-right mr-1" id="leave-conversation" value="">
                                    <span class="fas fa-trash-alt" style="color:#fff" aria-hidden="true"></span>
                                </span>
                                <button class="btn btn-dark btn-sm rounded-circle edit-post float-sm-right mr-1" type="submit" id="send-message-button" value="Send">
                                    <span class="fas fa-share" style="color:#fff" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    require(['./scripts/main'], (main) => {
        require(['modules/messages/main-messages']);
    });
</script>
<%- include('partials/footer') %>