<%- include('partials/header') %>

<div class="container-fluid shadow border-bottom border-dark">

    <div class="rowProfile justify-content-md-center">
        <div class="col-sm-2 mt-5 pt-5">
            <div class="circle-avatar2" alt="User Picture" style="background-image:url(<%- infoFeed.photo %>)"></div>
        </div>
        <div class="w-100 d-none d-md-block"></div>
        <br>
        <h1 style="text-shadow: 0 0 5px #000;" class="text-center text-white">
            Hi, I'm
            <t style="text-shadow: 0 0 5px #000;" class="font-weight-bold text-white"><%= infoFeed.fullName %></t>
        </h1>
        <div class="w-100 d-none d-md-block"></div>
        <div class="justify-content-center mt-2">
            <h4>
                <% if (infoFeed.facebook !== "") { %>

                <a class="afacebook" href="https://www.facebook.com/<%- infoFeed.facebook %>" target="_blank">
                    <i style="text-shadow: 2px 2px 4px #000000;" class="fab fa-facebook"></i>
                </a>
                <% } %>
                <% if (infoFeed.twitter !== "") { %>
                <a class="atwitter" href="https://www.twitter.com/<%- infoFeed.twitter %>" target="_blank">
                    <i style="text-shadow: 2px 2px 4px #000000;" class="fab fa-twitter"></i>
                </a>
                <% } %>
                <% if (infoFeed.instagram !== "") { %>
                <a class="ainstagram" href="https://www.instagram.com/<%- infoFeed.instagram %>" target="_blank">
                    <i style="text-shadow: 2px 2px 4px #000000;" class="fab fa-instagram"></i>
                </a>
                <% } %>
                <% if (infoFeed.github !== "") { %>
                <a class="agithub" href="https://www.github.com/<%- infoFeed.github %>" target="_blank">
                    <i style="text-shadow: 2px 2px 4px #000000;" class="fab fa-github"></i>
                </a>
                <% } %>
                <% if (infoFeed.linkedIn !== "") { %>
                <a class="alinkedin" href="https://www.linkedin.com/in/<%- infoFeed.linkedIn %>" target="_blank">
                    <i style="text-shadow: 2px 2px 4px #000000;" class="fab fa-linkedin-in"></i>
                </a>
                <% } %>
            </h4>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <h3 class="font-weight-bold text-center">About Me</h3>
    <hr>
    <br>
    <div class="text-center text-justify">
        <%- infoFeed.bio %>
    </div>
    <br>
    <br>
    <h3 class="font-weight-bold text-center">My Posts</h3>
    <hr>
    <% postsUser.forEach(post => {%>
    <div class="">
        <%- include('partials/post', {post: post}) %>
    </div>
    <% }) %>
</div>

<script type="text/javascript">
    require(['/scripts/main.js'], (main) => {
        require(['modules/profile/main-profile']);
    });
</script>
<%- include('partials/footer') %>