<!-- Comments Modal -->
<div class="modal fade" id="comments-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">Comments</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" id="submit-post-comment">                    
                    <div class="form-group px-3">
                        <h5>What's your opinion?</h5>
                        <br>
                        <textarea class="form-control" id="text" rows="3" name="text"></textarea>
                        <button id="button-Submit-Comment" type="submit" class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-2 text-muted2 border">
                            Submit Comment
                        </button>  
                    </div>      
                </form>
                <div class="col" id="comments-container"></div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Post Modal -->
<div class="modal fade" id="edit-post-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold" id="exampleModalLongTitle">Editing Post</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group px-3">
                        <h5>Update your Post</h5>
                        <br>
                        <div class="quill-editor"></div>
                        <input class="form-control" id="edit-post-text" rows="3" name="text" hidden>
                        <input id="edit-post-id" value="" hidden>
                        <button id="update-post-button" type="button" class="btn btn-muted2 btn-sm btn-block shadow-sm py-1 px-3 mt-2 text-muted2 border">
                            Submit Changes
                        </button>  
                    </div>
                </form>

                <div class="col" id="comments-container">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Post content -->
<div class="post-info border-bottom">

    <div class="row view overlay" id="<%= post._id %>">
        <div class="col-1 p-3">
            <div class="circle-avatar" style="background-image:url(<%= post.InfoUser[0].photo %>)"></div>
        </div>
        <div class="col-9 py-3">
            <t class="font-weight-bold">
                <%= post.InfoUser[0].fullName %>
            </t>
            <a class="text-muted" href="/profile/<%= post.createdBy %>">@<%= post.createdBy %></a>
            <t class="text-muted">
                • <%= post.createdAt %>
            </t>
            <br>
            <div class="text-justify">
                <%- post.content.text %>
            </div>

            <% if(post.content.files.length > 0) { %>
                    <ul class="p-0">
                        <% let files = post.content.files;
                        files.forEach(file => {
                            let name = file.split('/').pop(); %>

                            <% let extension = name.split('.').pop(); %>

                            <% if (extension === "png" || extension === "jpg" || extension === "jpeg" || extension === "svg") { %>
                                <a href="<%= file %>" target="_blank">
                                    <img src="/uploads/files/<%= name %>" class="img-max">
                                </a>                            
                            <% } else{ %>
                                <li class="list-group-item border-0 m-0 p-0">
                                    <i class="fa fa-paperclip"></i>
                                    <a href="<%= file %>" class="d-inline-block text-truncate" style="max-width: 250px;" target="_blank"><%= name %></a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
                <% } %>
        </div>
        <div class="col-2 justify-content-center align-self-center">
            <% if (post.createdBy === loginUser) { %>
            <i class="btn btn-danger btn-sm rounded-circle delete-post float-md-right mr-1" data-value="<%= post._id %>">
                <span class="fas fa-trash-alt" style="color:#fff" aria-hidden="true"></span>
            </i>
            <i class="btn btn-dark btn-sm rounded-circle edit-post float-md-right mr-1" data-value="<%= post._id %>">
                <span class="fas fa-pencil-alt" style="color:#fff" aria-hidden="true"></span>
            </i>
            <% } %>

            <i class="btn btn-dark btn-sm rounded-circle view-comments float-md-right mr-1" data-value="<%= post._id %>" data-toggle="modal"
                data-target="#exampleModalLong">
                <span class="fas fa-comment" style="color:#fff" aria-hidden="true"></span>
            </i>
        </div>
    </div>
</div>